  <body id="abc">
    <div class="wiki">
      <h3 class="wiki__title"><%= data.wikiTitle %></h3>
      <div class="wiki__body">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3OE_Rh7LbGOVfAFxivwNG8jqjXzDOyUKpS_WrW20rlCl1n2j5uHl-IsUByFdk2rCsUPA&usqp=CAU"
          alt=""
        />
        <div>
          <span>Ingredient</span>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Dignissimos, est!
          </p>
        </div>
      </div>
      <div class="wiki__info">
        <span>Research <b>20</b></span>
        <span>RX Score <b>40</b></span>
      </div>
    </div>
  </body>
