  <body>
    <div class="wiki">
      <h3 class="wiki__title"><%= data.wikiTitle %></h3>
      <div class="wiki__body">
        <img
          src="thumbnail.png"
          alt=""
        />
        <div>
          <span>Ingredient</span>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Dignissimos, est!
          </p>
        </div>
      </div>
      <div class="wiki__info">
        <span>Research <b>20</b></span>
        <span>RX Score <b>40</b></span>
      </div>
    </div>
  </body>
