#abc * {
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: none;
}
#abc .wiki {
  width: 500px;
  background-color: #f9f9f9;
  padding: 15px 0;
}
.wiki__title{
  margin-left: 15px;
}
.wiki__body {
  display: flex;
  padding: 15px;
}
.wiki__body img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}
.wiki__body span{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
}
.wiki__body p{
  margin-top: 20px;
}
.wiki__info{
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.wiki__info b{
  color: #fe5d1f;
  font-weight: 600;
}