.recipe-main-box {
  background: #fff;
  transition: all 0.2s;
  border-radius: 14px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  margin-bottom: 15px;
  position: relative;
  margin-right: 15px;
}
.recipe-main-box:hover {
  box-shadow: 0px 2px 3px #0000001a;
}
.recipe-main-box:hover .recipe-img-wrp img {
  transform: scale(1.2);
}
.recipe-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 17px;
  font-weight: bold;
  padding-right: 33px;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 16px;
}
.recipe-media-object .media {
  padding: 0 15px;
}
.recipe-midia-img {
  margin-right: 15px;
}
.recipe-img-wrp {
  width: 105px;
  height: 105px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.recipe-img-wrp img {
  position: absolute;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(1);
}
.recipe-media-object .media {
  padding: 0 15px;
}
.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.item-tag-rating {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex !important;
}
.recipe-tag {
  display: inline-block;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  color: #c4c4c4 !important;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}
.ratings-bx {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
.ratings-bx img {
  max-width: 12px;
}
.recipe-dis-text p {
  margin-top: 10px;
  font-size: 14px;
  color: #ababab;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 64px;
}
.recipe-listing-vertical {
  background: #f6f6f6 0% 0% no-repeat padding-box;
  padding: 5px 15px;
}
.recipe-listing-vertical ul li,
.recipe-listing-vertical ul {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}
.recipe-listing-vertical ul li,
.recipe-listing-vertical ul {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}
.recipe-listing-vertical ul li span {
  font-size: 14px;
  font-weight: 500;
}
.recipe-listing-vertical ul li strong {
  color: #fe5d1f;
  font-size: 14px;
  padding-left: 3px;
  font-weight: 600;
}
.recipe-btm-row {
  margin-top: 10px;
  padding: 0 15px 10px;
  min-height: 44px;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
.recipe-logo figure {
  max-width: 50px;
}
.recipe-logo figure img {
  max-width: 100%;
}
img {
  display: block;
  width: 100%;
}
.recipe-right-options {
  align-self: center;
}
.recipe-options-btm {
  display: flex;
  align-items: center;
}
.recipe-options-btm li {
  display: flex;
  align-items: center;
}
.recipe-options-btm li:not(:last-child) {
  margin-right: 25px;
}
.recipe-options-btm li button,
.recipe-options-btm li a {
  align-items: center;
  display: flex;
}
.recipe-compare-btn,
.comment-btn {
  padding: 0;
  background: transparent;
  border: 0;
  img {
    margin-right: 5px;
  }
}
.recipe-options-btm li img {
  width: 17px !important;
}
.recipe-options-btm li img {
  width: 17px !important;
}
.recipe-compare-btn .selected {
  display: none !important;
}
.recipe-compare-btn .not-selected {
  display: block !important;
}
.bookmark {
  height: 20px;
}
